body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
}

.contact-bar {
    font-style: normal;
}

.nav-bar-item,
.nav-bar-item:link,
.nav-bar-item:active,
.nav-bar-item:visited {
    font-weight: 500;
    color: #2e2f42;
}

.nav-bar-item:hover,
.nav-bar-item:focus {
    color: #404bbf;
}

.contact-bar-item,
.contact-bar-item:link,
.contact-bar-item:active,
.contact-bar-item:visited {
    color: currentColor;
    font-weight: 400;
}

.contact-bar-item:hover,
.contact-bar-item:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo:link,
.logo:active,
.logo:hover,
.logo:focus,
.logo:visited {
    color: #4d5ae5;
}

header .color-break {
    color: #2e2f42;
}

footer .color-break {
    color: #f4f4fd;
}

.order-service {
    background-color: #2e2f42;
}

.order-button {
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.order-slogan {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

h2 {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
}

.pros h2 {
    color: rgba(0, 0, 0, 0);
}

h3 {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.our-team h3 {
    text-align: center;
}

p {
    font-weight: 400;
}

.our-team p {
    text-align: center;
}

footer p {
    color: #f4f4fd;
}

.our-team {
    background-color: #f4f4fd;
}

footer {
    background-color: #2e2f42;
}
