*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

.our-team-general {
    background-color: #f4f4fd;
}

.foot {
    background-color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

section {
    padding: 120px 0px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

header {
    padding: 24px 0px;
}

header a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.contact-bar {
    font-style: normal;
}

.nav-list,
.contact-list {
    display: flex;
    gap: 40px;
}

.nav-list-item,
.nav-list-item:link,
.nav-list-item:active,
.nav-list-item:visited {
    font-weight: 500;
    color: #2e2f42;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404bbf;
}

.contact-list-item,
.contact-list-item:link,
.contact-list-item:active,
.contact-list-item:visited {
    color: currentColor;
    font-weight: 400;
}

.contact-list-item:hover,
.contact-list-item:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo:link,
.logo:active,
.logo:hover,
.logo:focus,
.logo:visited {
    color: #4d5ae5;
}

header .logo {
    margin-right: 76px;
}

header .color-break {
    color: #2e2f42;
}

footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

footer .color-break {
    color: #f4f4fd;
}

.order-service {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.order-button {
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.order-slogan {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
    max-width: 496px;
}

.section-header {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.pros-general .section-header {
    display: none;
}

.pros-list {
    display: flex;
    gap: 24px;
}

.pros-list-item {
    width: calc((100% - 72px) / 4);
}

.subsection-header {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-team-general .subsection-header {
    text-align: center;
}

.subsection-paragraph {
    font-weight: 400;
}

.our-team-general .subsection-paragraph {
    text-align: center;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: #ffffff;
    border: none;
    border-radius: 0 0 4px 4px;
}

.card-tag {
    padding: 32px 0px;
}

.our-portfolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio-card .card-tag {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.foot .subsection-paragraph {
    color: #f4f4fd;
    display: block;
    flex-wrap: wrap;
    width: 264px;
}
