/* ----------------- v GENERAL v ----------------- */

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --n-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --l-slate: #8e8f99;
    --cornf: #e7e9fc;
    --cloud: #f4f4fd;
    --n-blue-mod: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --wh: #fff;
    --dairy: #fcfcfc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: var(--slate);
    background-color: var(--wh);
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

/* ----------------- v SECTIONS / CONTAINERS v ----------------- */

section {
    padding: 120px 0px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

/* ----------------- v HEADER / NAV / CONTACTS v ----------------- */

.top-menu {
    padding: 24px 0px;
    border-bottom: 1px solid var(--cornf);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-menu a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.contact-bar {
    font-style: normal;
}

.nav-list,
.contact-list {
    display: flex;
    gap: 40px;
}

.nav-list-item,
.nav-list-item:link,
.nav-list-item:visited {
    font-weight: 500;
    color: var(--n-blue);
    padding: 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: var(--ocean);
}

.nav-list .state-change {
    position: relative;
    color: var(--ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.state-change::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    z-index: 2;
}

.contact-list-item,
.contact-list-item:link,
.contact-list-item:active,
.contact-list-item:visited {
    color: currentColor;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-item:hover,
.contact-list-item:focus {
    color: var(--ocean);
}

/* ----------------- v LOGO v ----------------- */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo:link,
.logo:active,
.logo:hover,
.logo:focus,
.logo:visited {
    color: var(--iris);
}

.top-menu .logo {
    margin-right: 76px;
}

.top-menu .color-break {
    color: var(--n-blue);
}

.foot .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foot .color-break {
    color: var(--cloud);
}

/* ----------------- v SUBMIT BUTTONS main style and action v ----------------- */

.submit-buttons {
    color: var(--wh);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-buttons:hover,
.submit-buttons:focus {
    background-color: var(--ocean);
    cursor: pointer;
}

/* ----------------- v HERO (mainly) and associated elements v ----------------- */

.order-service {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    max-width: 1440px;
    padding: 188px 0;
    margin: auto;
}

.order-button {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
}

.order-slogan {
    color: var(--wh);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
    max-width: 496px;
}

/* ----------------- v PROS (mainly) and associated elements v ----------------- */

.section-header {
    color: var(--n-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.pros-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.pros-list-item {
    width: 264px;
}

.pros-icon-plane {
    background-color: var(--cloud);
    border: 1px solid var(--l-slate);
    border-radius: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    max-width: 100%;
    justify-content: center;
}

.subsection-header {
    color: var(--n-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* ----------------- v TEAM (mainly) and associated elements v ----------------- */

.our-team-general {
    background-color: var(--cloud);
}

.our-team-general .subsection-header {
    text-align: center;
}

.subsection-paragraph {
    font-weight: 400;
}

.our-team-general .subsection-paragraph {
    text-align: center;
}

.our-team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-card {
    background-color: var(--wh);
    border: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card .subsection-paragraph {
    margin-bottom: 8px;
}

.card-tag {
    padding: 32px 0px;
}

.team-social-list {
    display: flex;
    gap: 24px;
    margin: 0 16px;
    justify-content: center;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border: none;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item .icon-link:hover,
.team-social-item .icon-link:focus,
.team-social-item .icon-link:active {
    cursor: pointer;
    background-color: var(--ocean);
}

.social-icons {
    fill: var(--cloud);
}

/* ----------------- v PORTFOLIO (mainly) and associated elements v ----------------- */

.our-portfolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio-card .card-tag {
    padding: 32px 16px;
    border-bottom: 1px solid var(--cornf);
    border-left: 1px solid var(--cornf);
    border-right: 1px solid var(--cornf);
}

.portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-list .transitional {
    position: relative;
    overflow: hidden;
    width: 360px;
    border: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-card {
    position: relative;
    overflow: hidden;
}

.slide-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transitional:focus .slide-text,
.transitional:hover .slide-text {
    transform: translateY(0%);
}

/* ----------------- v FOOTER (mainly) and associated elements v ----------------- */

.foot {
    background-color: var(--n-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.foot .subsection-paragraph {
    color: var(--cloud);
    display: flex;
    flex-wrap: wrap;
    width: 264px;
}

.foot-slogan {
    margin-right: 120px;
}

.foot-title {
    display: block;
    color: var(--wh);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.foot-social-section {
    display: block;
    width: 208px;
}

.foot-social-list {
    display: flex;
    gap: 16px;
}

.foot-social-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-item .icon-link:hover,
.foot-social-item .icon-link:focus,
.foot-social-item .icon-link:active {
    cursor: pointer;
    background-color: var(--green);
}

.foot-subscribe-section {
    margin-left: 80px;
}

.foot-subscribe-form {
    display: flex;
    gap: 24px;
}

.foot-subscribe-label {
    display: flex;
}

.foot-subscribe-input {
    border: 1px solid var(--wh);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    color: var(--wh);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.foot-subscribe-input::placeholder {
    color: inherit;
}

.foot-subscribe-button {
    display: flex;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    box-shadow: none;
}

.foot-subscribe-icon {
    margin-left: 16px;
}

/* ----------------- v MODAL FORM (mainly) and associated elements v ----------------- */

.modal-backdrop-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        to bottom,
        var(--n-blue-mod),
        var(--n-blue-mod)
    );
}

.modal-backdrop-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-order-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    padding: 72px 24px 24px;
    background-color: var(--dairy);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.mf-style-font {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--l-slate);
}

.mf-style-font::placeholder {
    color: var(--n-blue-mod);
}

.mf-field {
    border: 1px solid var(--n-blue-mod);
    border-radius: 4px;
    outline: transparent;
    width: 100%;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mf-field:focus {
    border-color: var(--iris);
}

.mf-close-window-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornf);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mf-send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
}

.mf-input-icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--n-blue);
}

.mf-checkmark-icon {
}

.mf-field:focus + .mf-input-icons {
    fill: var(--iris);
}

.mf-close-window-button:hover,
.mf-close-window-button:focus {
    background-color: var(--ocean);
    border: none;
    cursor: pointer;
}

.mf-close-icon {
    fill: var(--n-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mf-close-window-button:hover .mf-close-icon,
.mf-close-window-button:focus .mf-close-icon {
    fill: var(--wh);
}

.mf-slogan {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--n-blue);
    text-align: center;
    margin-bottom: 16px;
}

.mf-main {
}

.mf-comms {
    margin-bottom: 8px;
}

.mf-comment {
    margin-bottom: 16px;
}

.mf-label {
    display: block;
    margin-bottom: 4px;
}

.mf-input-box {
    display: flex;
    position: relative;
}

.mf-input {
    height: 40px;
    padding-left: 38px;
}

.mf-textarea {
    height: 120px;
    resize: none;
    padding: 8px 16px;
}

.mf-pp-check {
    display: flex;
    margin-bottom: 24px;
}

.mf-pp-label {
    display: block;
    padding: 0;
}

.checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.checkbox:active {
    background-color: #404bbf;
}

.mf-pp-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
}

.mf-check-indicator {
}

.mf-check-indicator:checked + .mf-pp-label span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.mf-pp-link,
.mf-pp-link:active,
.mf-pp-link:link,
.mf-pp-link:visited {
    color: var(--iris);
}
